# sample file:
# http://www.gnu.org/software/bash/manual/html_node/Sample-Init-File.html#Sample-Init-File
#################################
# vi mode:  # can't set vi-mode here, as it fucks up fzf; set it in .bashrc instead
#set editing-mode vi

# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command

# Keymaps for when we're in insert (i.e., typing stuff in) mode
set keymap vi-insert

# Ignore case on tab auto-completion
set completion-ignore-case on

# use a visible bell if one is available
set bell-style visible

# don't strip characters to 7 bits when reading
set input-meta on

# allow iso-latin1 characters to be inserted rather
# than converted to prefix-meta sequences
set convert-meta off

# display characters with the eighth bit set directly
# rather than as meta-prefixed characters
set output-meta on

# if there are more than 150 possible completions for
# a word, ask the user if he wants to see all of them
set completion-query-items 150

# add char to beginning of prompt indicating editing mode (: for fi comm, + for vi insert);
# somewhat pointless, as you'd never see you're in command mode, if defaulting to insert,
# since entering command mode won't update the prompt.
#set show-mode-in-prompt on

# auto-completion opts:
set show-all-if-ambiguous on
set show-all-if-unmodified on

# When hitting option-up/option-down, cycle through the previous commands
# which start with the prefix you've entered, rather than just cycling through
# the last entered commands.
# In OS X's Terminal.app preferences, I have 'Use option as meta key' off, and
# have mapped "option cursor up" to "\033\033[A" and "option cursor down" to 
# "\033\033[B".
# Feel free to bind to whatever you want. Delete the first '\e' in the keymap
# to set plain up/down to do a history search by default.
"\e[A": history-search-backward
"\e[B": history-search-forward

# Insert the arguments from the last command
#"p": "i !!*\r"

# Needed because binding 'p' in command mode above wipes its insert mode
# function, too. This fixes that, and will insert 'p' when you type 'p'.
#"p": self-insert
