! one other source:   http://fluxbox-wiki.org/category/howtos/en/Xdefaults_setup.html
! excellent all-around dotfiles: https://github.com/mohabaks/dotfiles/
! another source of colors: http://terminal.sexy or http://www.xcolors.net/ or
! http://dotshare.it/category/terms/colors/
! https://github.com/joshdick/onedark.vim
! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
!Xft*dpi: 96
!Xft*dpi: 120
! note rgba setting is monitor-dependent; test can be cound here: http://www.lagom.nl/lcd-test/subpixel.php
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! set our cursor size:  (https://wiki.archlinux.org/index.php/Cursor_themes#X_resources)
! note as we tend to use gnome, then it might be also settable-gettable via gsettings,
! eg ' gsettings get org.gnome.desktop.interface cursor-size' or '... cursor-theme'
! for query, replace get->set for setting value.
! Note cursor size generally wasnt needed to be set, but it tended to get huge
! with laptops when docked in multi-screen setup.
Xcursor.size: 24
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!
! note '-confirm-paste' disables the confirmation on paste, if test contains say newlines (or other control characters)
URxvt.perl-ext-common: default,tabbedex,keyboard-select,selection-to-clipboard,vtwheel,matcher,xresources-256,-confirm-paste
!URxvt.perl-lib: /your/folder/  ! only needed if you use a non-standard directory
URxvt*geometry: 100x50
! comment the depth, otherwise w3m cant render images in urxvt:
!URxvt.depth: 32
URxvt*cursorBlink: on
URxvt*borderLess: false
URxvt*cursorUnderline: false
URxvt.visualBell: false
URxvt*scrollBar: false
! do not scroll with output:
URxvt*scrollTtyOutput: false
! scroll back to the bottom on keypress:
URxvt*scrollTtyKeypress: true
! scroll in relation to buffer (with mouse scroll or Shift+Page Up):
URxvt*scrollWithBuffer: true
URxvt*secondaryScroll: true
! keep the lines low, let tmux handle the buffer:
URxvt*saveLines: 2000
! icon:  # memleak! enable only w/ rxvt ver >9.31
!URxvt.iconFile: /home/laur/.icons/ultra-flat-icons/apps/scalable/lxterminal.svg
! set meta key:
URxvt*modifier: alt
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! kuake
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!URxvt.kuake.hotkey: F12
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Matcher
!   note: either use this, or url-select, not both
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! open last url
URxvt.keysym.C-Delete: perl:matcher:last
! list recent urls
URxvt.keysym.M-Delete: perl:matcher:list
! note btn 2 masks pasting with btn 2
URxvt.matcher.button:     2
URxvt.termName:    rxvt-unicode-256color
!URxvt.termName:    xterm-color
URxvt*url-launcher: xdg-open

!! matcher -  Full Path Patterns
! render rule for match 0:
URxvt.matcher.rend.0: Uline Bold fg5
!URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt.matcher.launcher.2: gvim +$2 $1
URxvt.matcher.pattern.2: ^(/[\\S]+):?
URxvt.matcher.launcher.2: gvim $1
URxvt.matcher.pattern.3: \\B(/[\\S]+):(\\d+):?
URxvt.matcher.launcher.3: gvim $1 +$2
URxvt.matcher.pattern.4: \\B(/[\\S]+):(\\d+):(\\d+):?
URxvt.matcher.launcher.4: gvim $1 +$2
URxvt.matcher.render.4: fg=5


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! font-size keybindings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!URxvt.keysym.C-Up:       perl:font-size:increase
!URxvt.keysym.C-Down:     perl:font-size:decrease
!URxvt.keysym.C-S-Up:     perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!! yankable url settings (requires urxvt-perls package; disables clickable urls extension):
!!! note url-select is essentially deprecated by the matcher perl script; either use
!!! one or the other, not both. (but deffo prefer matcher)
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.url-select.underline: true
!URxvt.url-select.launcher: /usr/bin/xdg-open
!!URvxt.url-select.button:    Mouse button to click-open URLs (default: 2)
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!! keyboard-select:
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Tabs
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.keysym.Shift-Control-T: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab
!
!URxvt.tabbed.tabbar-fg: 12
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    14
!URxvt.tabbed.tab-bg:    0
! not-selected tabs colors:
URxvt.tabbed.tabbar-fg: 1
URxvt.tabbed.tabbar-bg: 0
! selected tabs colors:
URxvt.tabbed.tab-fg:    0
URxvt.tabbed.tab-bg:    9 

! autohide tabbar if only one tab:
URxvt.tabbed.autohide: true
!URxvt.tabbed.new-button: true
!URxvt.tabbed.title: no

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! copy-pasta:
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!note since v9.20 rxvt-unicode natively supports copying & pasting from CLIPBOARD buffer with the ctrl-meta-{c,v} bindings.
!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
!
! bind S-C-V to native paste (in addition to the default C-M-V):
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
!
URxvt.iso14755: false
URxvt.iso14755_52: false

! allow ctrl+arrow keys by-word motions:
!URxvt.keysym.Control-Up:   \033[1;5A
!URxvt.keysym.Control-Down:    \033[1;5B
!URxvt.keysym.Control-Left:    \033[1;5D
!URxvt.keysym.Control-Right:    \033[1;5C

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Colors:
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! man page colors:
*VT100.colorBDMode:                   true
*VT100.colorDB:                       magenta
*VT100.colorULMode:                   true
*VT100.colorUL:                       cyan
*VT100.veryBoldColors:                6

! main shell colors:
!#include </home/laur/.x/term-colors/synthwave.colors>
!#include </home/laur/.x/term-colors/blue.colors>
!#include </home/laur/.x/term-colors/blue2.colors>
!#include </home/laur/.x/term-colors/base16-atelier-heath.colors>
!#include </home/laur/.x/term-colors/base16-default-dark.colors>
!#include </home/laur/.x/term-colors/base16-eighties.colors>
!#include </home/laur/.x/term-colors/dawn.colors>
#include </home/laur/.x/term-colors/gruvbox.colors>
!#include </home/laur/.x/term-colors/nord.colors>
!#include </home/laur/.x/term-colors/mashup.colors>
!#include </home/laur/.x/term-colors/pnevma1.colors>
!#include </home/laur/.x/term-colors/pnevma2.colors>
!#include </home/laur/.x/term-colors/raven-m9-dark.colors>
!#include </home/laur/.x/term-colors/s3r0.colors>
!#include </home/laur/.x/term-colors/smyck.colors>
!#include </home/laur/.x/term-colors/unnamed1.colors>
!#include </home/laur/.x/term-colors/unnamed2.colors>
!#include </home/laur/.x/term-colors/unnamed3.colors>
!#include </home/laur/.x/term-colors/unnamed4.colors>
!#include </home/laur/.x/term-colors/wombat.colors>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! -------------------------------------------------
! FONTS
! $ fc-list lists available fonts
URxvt.allow_bold:           true
URxvt.boldColors:           on

! lineSpace=1 enables underscores for bold fonts (from https://bbs.archlinux.org/viewtopic.php?pid=1619832#p1619832)
URxvt.lineSpace: 1
! letterSpace regulates character spacing
!URxvt.letterSpace: -1
!URxvt.letterSpace: 0


!! Terminus
!URxvt.font:             xft:Terminus-10:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:medium;antialias=False,xft:WenQuanYi Zen Hei-10:medium;antialias=True,xft:HanaMinA-10:medium;antialias:True,xft:HanaMinB-10:medium;antialias:True,xft:HanaMinPlus-10:medium;antialias:True
!URxvt.boldFont:             xft:Terminus-10:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:bold;antialias=False,xft:WenQuanYi Zen Hei-10:bold;antialias=True,xft:HanaMinA-10:bold;antialias:True,xft:HanaMinB-10:bold;antialias:True,xft:HanaMinPlus-10:bold;antialias:True

!! Terminus Powerline (Terminess Powerline)
!! See: https://github.com/Lokaltog/powerline-fonts/tree/master/Terminus
!URxvt.font:             xft:Terminess Powerline:size=14:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:medium;antialias=False,xft:WenQuanYi Zen Hei-10:medium;antialias=True,xft:HanaMinA-10:medium;antialias:True,xft:HanaMinB-10:medium;antialias:True,xft:HanaMinPlus-10:medium;antialias:True
!URxvt.boldFont:             xft:Terminess Powerline:size=14:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:bold;antialias=False,xft:WenQuanYi Zen Hei-10:bold;antialias=True,xft:HanaMinA-10:bold;antialias:True,xft:HanaMinB-10:bold;antialias:True,xft:HanaMinPlus-10:bold;antialias:True
!URxvt.font: xft:Terminess Powerline:pixelsize=14:antialias=false:hinting=false:autohint=false, xft:Terminess Powerline:pixelsize=16:antialias=false:hinting=false:autohint=false
!URxvt.boldFont: xft:Terminess Powerline:style=bold:pixelsize=14:antialias=false:hinting=false:autohint=false, xft:Terminess Powerline:bold:pixelsize=16:antialias=false:hinting=false:autohint=false
! terminess/terminus - closest okay with nerd-fonts devicons patched in; still blurry and off though:
!URxvt.font: xft:TerminessTTF Nerd Font Mono:size=12:antialias=true:hinting=false:autohint=false
!URxvt.boldFont: xft:TerminessTTF Nerd Font Mono:style=bold:size=12:antialias=true:hinting=false:autohint=false
! this ver works, only if the nerd fonts are added as a fallback (ie 2nd font):
URxvt.font: xft:xos4 Terminess Powerline:pixelsize=14:antialias=false:hinting=false:autohint=false, xft:TerminessTTF Nerd Font Mono:pixelsize=18:antialias=false:hinting=false:autohint=false
URxvt.boldFont: xft:xos4 Terminess Powerline:style=bold:pixelsize=14:antialias=false:hinting=false:autohint=false, xft:TerminessTTF Nerd Font Mono:bold:pixelsize=18:antialias=false:hinting=false:autohint=false

!! tewi (conf from https://github.com/mohabaks/dotfiles/blob/master/.x/.Xresources)
!#define fonts xft:Tewi:size=7
!URxvt*font:              fonts
!URxvt*boldMode:          false
!URxvt*boldFont:          fonts

!! Droid Sans Mono for Powerline Mono
!URxvt*font:             xft:Droid Sans Mono for Powerline:size=8, xft:Droid Mono Dotted for Powerline:size=8
!URxvt*boldFont:         xft:Droid Sans Mono for Powerline:normal:size=8
!URxvt*italicFont:       xft:Droid Sans Mono for Powerline:italic:autohint=true:size=8
!URxvt*boldItalicFont:   xft:Droid Sans Mono for Powerline:bolditalic:italic:autohint=true:size=8

!! Monofur
! URxvt.font:             xft:monofur For Powerline:size=11:hinting=True;antialias:True,xft:PowerlineSymbols,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
! URxvt.boldFont:             xft:monofur For Powerline:size=11:bold;hinting=True;antialias:True,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True


!! Hack
!URxvt.font:             xft:Hack:size=10:hinting=True;antialias:True,xft:PowerlineSymbols,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
!URxvt.boldFont:             xft:Hack:size=10:bold;hinting=True;antialias:True,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True


!! InconsolataDz
!URxvt.font:             xft:Inconsolata-dz for Powerline:size=10:hinting=True;antialias:True,xft:PowerlineSymbols,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
!URxvt.boldFont:             xft:Inconsolata-dz for Powerline:size=10:bold;hinting=True;antialias:True,xft:Font Awesome:size=10,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True

!URxvt.font:             xft:Inconsolata:size=10,xft:PowerlineSymbols,xft:FontAwesome,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
!URxvt.boldFont:             xft:Inconsolata:size=10:bold;hinting=True;antialias:True,xft:PowerlineSymbols,xft:FontAwesome,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True


!! Droid Sans Mono
!URxvt.font:             xft:Droid Sans Mono for Powerline-10:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
!URxvt.boldFont:             xft:Droid Sans Mono for Powerline-10:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True

!! Sauce Code Pro
!URxvt.font:             xft:Source Code Pro for Powerline-10:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:medium;antialias=False,xft:WenQuanYi Zen Hei-10:medium;antialias=True,xft:HanaMinA-10:medium;antialias:True,xft:HanaMinB-10:medium;antialias:True,xft:HanaMinPlus-10:medium;antialias:True
!URxvt.boldFont:             xft:Source Code Pro for Powerline-10:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-10:bold;antialias=False,xft:WenQuanYi Zen Hei-10:bold;antialias=True,xft:HanaMinA-10:bold;antialias:True,xft:HanaMinB-10:bold;antialias:True,xft:HanaMinPlus-10:bold;antialias:True

!URxvt.font:             xft:Source Code Pro for Powerline-9:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-9:medium;antialias=False,xft:WenQuanYi Zen Hei-9:medium;antialias=True,xft:HanaMinA-9:medium;antialias:True,xft:HanaMinB-9:medium;antialias:True,xft:HanaMinPlus-9:medium;antialias:True
!URxvt.boldFont:             xft:Source Code Pro for Powerline-9:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-9:bold;antialias=False,xft:WenQuanYi Zen Hei-9:bold;antialias=True,xft:HanaMinA-9:bold;antialias:True,xft:HanaMinB-9:bold;antialias:True,xft:HanaMinPlus-9:bold;antialias:True

!URxvt*font: xft:source code pro for powerline:regular:pixelsize=14
!URxvt*imFont: xft:source code pro for powerline:regular:pixelsize=14
!URxvt*boldFont: xft:source code pro for powerline:semibold:pixelsize=14
!URxvt*italicFont: xft:source code pro for powerline:italic:pixelsize=14
!URxvt*boldItalicFont: xft:source code pro for powerline:semibold:italic:pixelsize=14
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! xterm ----------------------------------------------------------------------
#include </home/laur/.x/xterm/1>
!#include </home/laur/.x/xterm/2>

! xclock ---------------------------------------------------------------------
xclock*update:            1
xclock*analog:            false
xclock*Foreground:        white
xclock*background:        #222222

! xcalc ----------------------------------------------------------------------
#include </home/laur/.x/xcalc/1>

! xscreensaver ---------------------------------------------------------------
#include </home/laur/.x/xscreensaver/1>

