# from https://github.com/LukeSmithxyz/voidrice/blob/master/.local/share/applications/file.desktop
[Desktop Entry]
Type=Application
Name=File Manager
#Exec=/usr/bin/urxvtc -e sh -c "vifm %u"
Exec=/usr/bin/urxvtc -e vifm %u
