# from https://github.com/LukeSmithxyz/voidrice/blob/master/.local/share/applications/img.desktop
[Desktop Entry]
Type=Application
Name=Image viewer
Exec=/usr/bin/nsxiv -a %u
