# from https://github.com/LukeSmithxyz/voidrice/blob/archi3/.local/share/applications/mail.desktop
[Desktop Entry]
Type=Application
Name=Mail
Exec=/usr/bin/env urxvtc -e neomutt %u
