# from https://github.com/LukeSmithxyz/voidrice/blob/master/.local/share/applications/mail.desktop
[Desktop Entry]
Type=Application
Name=Mail
Exec=/usr/bin/env urxvtc -e neomutt %u
