# from https://github.com/LukeSmithxyz/voidrice/blob/master/.local/share/applications/pdf.desktop
[Desktop Entry]
Type=Application
Name=PDF reader
Exec=/usr/bin/zathura %u
