# from https://github.com/LukeSmithxyz/voidrice/blob/archi3/.local/share/applications/text.desktop
[Desktop Entry]
Type=Application
Name=Text editor
Exec=/usr/bin/env urxvtc -e nvim %u
