# from https://github.com/LukeSmithxyz/voidrice/blob/master/.local/share/applications/torrent.desktop
[Desktop Entry]
Type=Application
Name=Torrent
Exec=/usr/bin/env transadd.sh %U
