[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/lib/iceweasel/iceweasel %u
Name=Iceweasel
Comment=Custom definition for Iceweasel
